<table style="width: 80%;">
    <tr>
        <td>
            标题：
        </td>
    </tr>
    <tr>
        <td>
            <input style="width: 80%;" type="text" [(ngModel)]="article.articletitle" name="articletitle">
        </td>
    </tr>
    <tr>
        <td>
            正文：
        </td>
    </tr>
    <tr>
        <td><div [froalaEditor]="option" [(froalaModel)]="article.articlecontent"></div></td>
    </tr>
    <tr>
        <td><button type="button" (click)="articleAdd()">发布</button></td>
    </tr>
    <tr>
        <td>{{ article | json }}</td>
    </tr>
</table>
