<title>login page</title>
<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <div class="form-group">
    <label class="center-block">帐号：
      <input id="account" class="form-control" formControlName="account" required >
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">密码：
      <input class="form-control" formControlName="password" required >
    </label>
  </div>
  <button type="submit" class="btn btn-primary">登录</button>
</form>

<div *ngIf="(account.dirty && account.invalid) || (password.dirty && password.invalid)">
  用户名和密码不能为空
</div>
<div>
  <p>Form value: {{ loginForm.value | json }}</p>
  <p>Name value: {{ account.status }}</p>
  <p>Test: {{account.dirty}}</p>
  <table>
    <tr *ngFor="let user of userData">
      <td>
        {{user.account}}
      </td>
      <td>
        {{user.password}}
      </td>
    </tr>
    <tr>
      <td>
        {{errMsg}}
      </td>
    </tr>
  </table>
</div>
